
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
li, a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
header img{
    cursor: pointer;
}
header{
    background-color: white;
    max-width: 100vw;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.nav-links li{
    list-style-type: none;
    display: inline-block;
    padding: 0 20px;
}
#sup{
    margin-left: 300px;
}
.cta button{
    background-color:#0061ff;
    border: none;
    color: white;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.jumbo-title{
    text-align: left;
    font-size: 75px;
}
.jumbo-content-text{
    width: 34%;
    display: inline-block;
    vertical-align: top;
}
.jumbo-content-text p{
    padding-bottom: 20px;
}
.jumbo-content img{
    display: inline-block;
    width: 65%;
}
.jumbotron{
    background-color: #b4d0e7;
}
.jumbo-content{
    transform: translate(0px, 50px);
}
.jumbo-title{
    padding-top: 60px;
}
#jumbo-btn{
    margin-bottom: 10px;
    font-size: 14px;
}
.fas{
    font-size: 50px;
}
.subscription-plan h1{
    padding-bottom: 30px;
    font-size: 30px;
}
.subscription-plan{
    padding-top: 100px;
    width: 70%;
    padding-bottom: 30px;
    margin: 0 auto;
    display: block;
    justify-content: space-between;
    flex-direction: row;
}
.buynow{
    color: #0061ff;
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
}
.sub-table{
    width: 40px;
    color: 3px darkgray solid;
    margin-right: 10px;
}
.fa-check{
    color: #0061ff;
    margin-right: 3px;
}
.container-plans{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;  
}
.container-plans i, .col-two i{
    padding-right: 5px;
}
.col{
    max-width: 30%;
    height: 800px;
    border: 1px darkgray solid;
}
.user{
    padding: 10px;
    border-bottom: 1px solid darkgray;
    text-align: center;
}
.col h3, .col h4, .col p, .col-two h3, .col-two h4, .col-two p{
    padding: 10px 20px;
}
.col h3, .col-two h3{
    font-size: 18px;
}
.free-try{
    transform: translate(50px, 0px);
    margin: 15px 0;
}
.col-two{
    border: 1px solid darkgray;
    max-width: 70%;
    height: 200px;
    margin: 20px auto;
}
.ppm{
    font-size: 12px;
    color: darkgray;
}