
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
li, a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0 20px;
}
#sup{
    padding-left: 300px;
}
#cta button{
    background-color:#0061ff;
    border: none;
    color: white;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}